.price {
  /* font-size: large; */
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .footer-on-small-devices {
    position: fixed !important;
    left: 0 !important;
    border-radius: 0% !important;
    bottom: 0 !important;
    width: 100% !important;
  }
}

.container.page,.container-fluid.page {
  margin-top: 3em;
}

.main-card {
  width: 100%;
  max-width: 576px;
}

.bi-trash {
  vertical-align: -.125em;
}